db.sqlite3
WebScraper/__pycache__/
venv/
.vscode/
**/migrations
Engine/Engine/spiders/__pycache__/
GUI/__pycache__/
Engine/Engine/__pycache__/settings.cpython-38.pyc
Engine/Engine/__pycache__/__init__.cpython-38.pyc
WebScraper/__pycache__/__init__.cpython-39.pyc
WebScraper/__pycache__/settings.cpython-39.pyc
WebScraper/__pycache__/urls.cpython-39.pyc
WebScraper/__pycache__/wsgi.cpython-39.pyc
GUI/__pycache__/__init__.cpython-39.pyc
GUI/__pycache__/admin.cpython-39.pyc
GUI/__pycache__/forms.cpython-39.pyc
GUI/__pycache__/models.cpython-39.pyc
GUI/__pycache__/urls.cpython-39.pyc
GUI/__pycache__/views.cpython-39.pyc
GUI/migrations/__pycache__/__init__.cpython-39.pyc
Engine/__pycache__/Scraper.cpython-38.pyc
Engine/__pycache__