db.sqlite3
WebScraper/__pycache__/
venv/
.vscode/
**/migrations
Scraper_engine/Engine/spiders/__pycache__/
WebScraper/GUI/__pycache__/
Scraper_engine/Engine/__pycache__/settings.cpython-38.pyc
Scraper_engine/Engine/__pycache__/__init__.cpython-38.pyc
WebScraper/__pycache__/__init__.cpython-39.pyc
WebScraper/__pycache__/settings.cpython-39.pyc
WebScraper/__pycache__/urls.cpython-39.pyc
WebScraper/__pycache__/wsgi.cpython-39.pyc
WebScraper/GUI/__pycache__/__init__.cpython-39.pyc
WebScraper/GUI/__pycache__/admin.cpython-39.pyc
WebScraper/GUI/__pycache__/forms.cpython-39.pyc
WebScraper/GUI/__pycache__/models.cpython-39.pyc
WebScraper/GUI/__pycache__/urls.cpython-39.pyc
WebScraper/GUI/__pycache__/views.cpython-39.pyc
WebScraper/GUI/migrations/__pycache__/__init__.cpython-39.pyc
Scraper_engine/__pycache__/Scraper.cpython-38.pyc
Scraper_engine/__pycache__
.DS_Store
raw_data.json
/.idea
/Model/.raw_data.json.icloud
