<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict the price of your house in Croatia</title>
    <meta charset="UTF-8"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>
    <nav>
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">Housing in Croatia</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/calculate/">Calculate</a> </li>
                <li><a href="/visualize/">Visualizations</a> </li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock  %}

    {% block js %}
    {% endblock %}
</body>

<h1>Predict housing prices in Croatia!</h1>
</html>