#main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.slider {
    position: relative;
    width: 600px;
    overflow: hidden;
}
.images {
    display: flex;
    width: 600px;
}
.images img {
    height: 500px;
    width: 600px;
    transition: all 0.15s ease;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #1D809F 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #ecb807;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}

#describe_visualization{
    display:flex;
    justify-content:center;
    margin-bottom: 50px;

}